// $custom-white: #ffffffd1;
//
// html, body {
//   height: 100%;
// }
// .text-danger { color: #d83a4a !important; }
// #login-container,
// #forgot-psd-container {
//   #error_explanation {
//     > ul { padding: 5px 15px; }
//   }
//   .cloud-work-site-text {
//     max-width: 350px;
//   }
//   h2 { color: $custom-white; }
//   .login-bg-cont {
//     background-image: asset-data-url('login-bg-img');
//     background-size: cover;
//   }
//   .dark-theme-bloc-xs {
//     width: 100%;
//   }
//   .login-form-cont {
//     max-width: 80%;
//     margin: 0 auto;
//     .login-form-tag {
//       .form-group { margin-top: 2.5rem; }
//       input.bot-bor-design {
//         background: none;
//         border: none;
//         border-bottom: 1px solid white;
//         color: $custom-white;
//         outline: none;
//         padding: 10px 0;
//         border-radius: 0;
//       }
//       input.bot-bor-design:focus {
//         border: none;
//         border-bottom: 1px solid $custom-white;
//         outline: none;
//         // box-shadow: none;
//       }
//     }
//     .pswd-visible-icon {
//       position: absolute;
//       right: 3px;
//       top: 12px;
//       cursor: pointer;
//       opacity: 0.4;
//     }
//   }
//   ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
//       color: $custom-white;
//   }
//   :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
//      color: $custom-white;
//      opacity:  1;
//   }
//   ::-moz-placeholder { /* Mozilla Firefox 19+ */
//      color: $custom-white;
//      opacity:  1;
//   }
//   :-ms-input-placeholder { /* Internet Explorer 10-11 */
//      color: $custom-white;
//   }
//   ::-ms-input-placeholder { /* Microsoft Edge */
//      color: $custom-white;
//   }
//
//   ::placeholder { /* Most modern browsers support this now. */
//      color: $custom-white;
//   }
//   /* auto fill input fields css*/
//
//   input:-webkit-autofill,
//   input:-webkit-autofill:hover,
//   input:-webkit-autofill:focus
//   textarea:-webkit-autofill,
//   textarea:-webkit-autofill:hover
//   textarea:-webkit-autofill:focus,
//   select:-webkit-autofill,
//   select:-webkit-autofill:hover,
//   select:-webkit-autofill:focus {
//     -webkit-text-fill-color: $custom-white;
//     -webkit-box-shadow: 0 0 0px 1000px #181729 inset;
//     transition: background-color 5000s ease-in-out 0s;
//   }
// }
//
// @media(max-width: 575px) {
//   .lgn-bg-col {
//     display: none;
//   }
//   .main-container {
//     background-image: asset-data-url('login-bg-img');
//     background-size: cover;
//     height: inherit;
//     .dark-theme-bloc-xs {
//       background-color: #181729;
//       .login-form-cont {
//         padding: 10px 20px;
//         max-width: 90% !important;
//       }
//     }
//   }
// }
// #forgot-psd-container {
//   em {
//     color: #ffffff;
//     opacity: 0.4;
//     font-size: 12px;
//   }
//   #user_password,
//   #user_password_confirmation {
//     background: none;
//     border: none;
//     border-bottom: 1px solid white;
//     color: #ffffffd1;
//     outline: none;
//     padding: 10px 0;
//     border-radius: 0;
//   }
//   .forgot-password-submit {
//     margin-top: 2.5rem;
//     .pink-btn {
//       width: 200px;
//       height: 40px;
//     }
//   }
// }
