<div class="nav-side-menu">
  <div class="menu-list">
    <ul id="menu-content" class="menu-content">
      <li></li>
      <li></li>
      <li>
        <a href="/"  class="sidebar-nav-link">Home</a>
      </li>

    </ul>
  </div>
</div>
